.App{
    text-align: center;
}
body{
    background-color:#EFDCC6 ;
    
}
.app-wrapper{
    background-color: gray;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    padding-bottom: 25%;
}
.header{
    color: white;
   font-style:italic;
   font-weight: bolder;
   margin-top: 20px;
}
.cont{
    text-align: center;
    justify-content: center;
}
.task-complete{
    text-align: right;
    color: #f67280;
    background-color:gray ;
    border: none;
    font-size: 24px;
    margin-top: 5px;
    cursor: pointer;
}
.task-edit{
    text-align: right;
    color: #f6be00;
    background-color:gray ;
    border: none;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
}
.task-delete{
    text-align: right;
    color: black;
    background-color:gray ;
    border: none;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
}
.task-input{
   border-radius: 6px;
   padding: 7px;
   font-size: 18px;
   border: none;
   background-color: black;
   color: white;
   /* margin-bottom: 2px; */
}
.button-add{
    border-radius: 6px;
    background-color: #EFDCC6 ;
    padding: 6px;
    font-size: 18px;
    margin-left: 10px;
  border: 1px solid dimgray;
}
.list{
    font-size: 18px;
    padding: 6px;
    background-color:gray ;
    color: white;
    border-radius: 8px;
    margin-top: 6px;
    border: 1px solid black;
    text-decoration: none;
}